[submodule "gitea"]
	path = gitea
	url = git@github.com:ExplodingDragon/gitea.git
[submodule "gitea-codespace"]
	path = gitea-codespace
	url = git@github.com:ExplodingDragon/gitea-codespace.git
[submodule "codespace-proto-go"]
	path = codespace-proto-go
	url = git@github.com:ExplodingDragon/codespace-proto-go.git
[submodule "codespace"]
	path = codespace
	url = git@github.com:ExplodingDragon/gitea-codespace.git
